.menu_button_green:hover{
    -fx-background-color:#aaeeaa;
}

.menu_button_green{
    -fx-background-color:#5cc87c;
}

.menu_button:hover{
    -fx-background-color:#3e4255;
}

.menu_button{
    -fx-background-color:#282b3c;
    -fx-text-fill: #fff;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.menu_button_red:hover{
    -fx-background-color:#e09090;
}

.menu_button_red{
    -fx-background-color:#e06863;
}

.progress-bar{
    -fx-accent: #5cc87c;
    /*-fx-box-border: #585858;*/
    /*-fx-background-color: #141728;*/
    -fx-padding: 8;
}

.progress-bar > .track {
    -fx-text-box-border: #00000000;
    -fx-control-inner-background: #3e4255;
}

.content {
    -fx-background-color: #141728;
}

.root{
    -fx-background-color: #141728;
}

.list-view{
    -fx-background-color: #141728;
    -fx-border-width: 0;
}

.list-view .list-cell:even {
    -fx-background-color: #282b3c;
}
.list-view .list-cell:odd {
    -fx-background-color: #141728;
}

.title_text{
    -fx-text-fill: #5cc87c;
}